body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: default;
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 1;
}

.github-link {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}

.progress-bar {
    border: 1px solid red;
    width: 90vw;
    height: 10vh;
}

.progress-status {
    border: 1px solid green;
    height: 100%;
    background-color: green;
}

h2 {
    margin: 0;
    padding: 0;
}

.date-start,
.date-end {
    font-size: 3.5rem;
    top: -10vh;
    position: relative;
}

.date-start {
    float: left;
    left: -3vw;
}

.date-end {
    float: right;
    right: -3vw;
}

.date-marker {
    position: relative;
    float: left;
    border: 2px solid blue;
    border-radius: 2px;
    height: 12vh;
    top: -1vh;
    left: 0;
}

.date-marker-text {
    position: absolute;
    color: blue;
    top: 100%;
    white-space: nowrap;
}

.points-status {
    clear: both;
}